.accuracy-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px;
  background-color: transparent;
}

svg {
  height: 100%; /* to change size of badge, change these values  */
  width: 100%;
  overflow: visible;
}
circle {
  stroke-width: 16px;
  fill: transparent;
  transition: stroke-dashoffset 2.55s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#under-amount-blue {
  stroke: blue;
  stroke-width: 20px;
  opacity: 0.2;
}
#under-ex-date-red {
  stroke: red;
  stroke-width: 20px;
  opacity: 0.2;
}
#under-record-date-yellow {
  stroke: yellow;
  stroke-width: 20px;
  opacity: 0.3;
}
#under-pay-date-green {
  stroke: green;
  stroke-width: 20px;
  opacity: 0.2;
}
#amount-blue {
  stroke: blue;
}
#ex-date-red {
  stroke: red;
}
#record-date-yellow {
  stroke: yellow;
}
#pay-date-green {
  stroke: green;
}